{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
    <h1>have to  belive in yourself no matter what </h1>
    <h3>the road of a thousand miles begins with the first step</h3>
    <h6>the road will be overcome by the walking</h6>
    <p>Домашняя работа - тут будут публиковаться мои домашнии работы!<br>
        Для проверки жми по <button class="btn btn-warning"><a href="{% url 'homework' %}">ссылке</a>></button>
    </p>
    </div>
{% endblock %}

