{% extends 'main/layout.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p> {{ el.anons }}<br>
                     <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
                    {{ el.full_text }}
                    </p>

                </div>
            {% endfor %}
        {% else %}
            <p>You haven't news!</p>
        {% endif %}
    </div>
{% endblock %}